name: Update Cert

on:
  schedule:
    - cron: '0 10 1 * *'

  push:
    branches: [main]
  # add a tag to trigger manually
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare Environment
        run: |
          curl https://get.acme.sh | sh -s email=my@example.com
          pip install -r requirements.txt

      - name: Update Cert
        env:
          DP_Id: ${{ secrets.DP_Id }}
          DP_Key: ${{ secrets.DP_Key }}
          ACME_DNS_TYPE: ${{ secrets.ACME_DNS_TYPE }}
          ACME_DOMAIN: ${{ secrets.ACME_DOMAIN }}
          SECRETID: ${{ secrets.SECRETID }}
          SECRETKEY: ${{ secrets.SECRETKEY }}
          CDN_DOMAIN: ${{ secrets.CDN_DOMAIN }}
          CERT_HOME: /home/runner/.acme.sh
          ACME_HOME: /home/runner/.acme.sh
          WORK_DIR: .
          CF_Key: ${{ secrets.CF_Key }}
          CF_Email: ${{ secrets.CF_Email }}
          CF_Token: ${{ secrets.CF_Token }}
          CF_Zone_ID: ${{ secrets.CF_Zone_ID }}
        run: sh ./docker/update.sh

      - name: Notification
        uses: monlor/bark-action@v3
        if: always()
        with:
          host: ${{ secrets.BARK_HOST}} # not required
          key: ${{ secrets.BARK_KEY }} # Your secret key
          title: Github Actions
          body: 'Your tencent cdn certs update ${{ job.status }}ï¼'
          isArchive: 1
          url: 'github://github.com/${{ github.repository }}'
          group: Github
          icon: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
          copy: ${{ steps.meta.outputs.tags }}
  store:
    name: Store artifact commit version
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      # Get the commit version from the build job
      - name: Touch file
        run: |
          echo ${{ github.run_id }} > date.txt
      - name: Commit files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add date.txt
          git commit -a -m "Update hash file"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
